a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    
}

body{
    background-color: 	#f1f3f8;
    display: block;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4F4F4F;
}



.img-direita{
    width: 100%;
    margin-left: 20px;
    border-radius: 25px;
}


@media screen and (max-width: 720px) {

    header{
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        padding: 15px;
        background-image: url(./img/imgnprontas/nuvens.png);
        align-items: center;
        border-radius: 10px;
        margin: 0 auto;
    }

    .header-logo{
        width: 100px;        
    }

    .header-menu{
        width: 60%;
    }

    ul li{
        padding-right: 15px;
        font-size: small;
    }

    .h1{
        color: rgb(10, 13, 153);
        max-width: 100%;
        font-size: 9px;
        padding: 10px;
        display: flex;
        margin: 30px auto;
    }

    .h1 h1{
        margin: 0 auto;
    }

    .h2{
        display: flex;
        text-align: center;
        font-size: 1.2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(78, 78, 78);
        justify-content: center;
        margin: 20px;
    }

    .cont1{
        min-width: 90%;
        display: block;
        margin: 0 auto;
        padding: 5px;
    }

    .cont1-p{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .cab-guia{
        justify-content: center;
        padding-top: 20px;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }
    .cab-guia img{
        margin: 0 auto;
        display: flex;
        border-radius: 20px;
        width: 50%;
    }
    .cont1-pp{
        background-color: rgb(224, 221, 213);
        width: 90%;
        border-radius: 20px;
        margin: 0 auto;
        padding: 10px;
        border-style: solid;
    }

    .container2{
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .container-img img{
        width: 90%;
        margin: 0 auto;
        display: flex;
        border-radius: 10px;
    }
    .container-p{
        margin: 10px 20px;
        max-width: 90%;
        padding-left: 10px;
    }
    .container-p1{
        margin: 10px 20px;
        max-width: 90%;
        padding-left: 10px;
    }
    .container-p .h2

    .cont1-img{
        display: none;
    }
    #div-last{
        margin-bottom: 100px;
    }
    footer{
        display: none;
    }
}

@media screen and (min-width: 720px) {


    /*header{
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        padding: 30px;
        background-image: url(./img/imgnprontas/nuvens.png);
        align-items: center;
        border-radius: 10px;
        margin: 0 auto;
        border-radius: 10px;
        
    }*/
    header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 15px;
        background-image: url(./img/imgnprontas/nuvens.png);
        align-items: center;
        border-radius: 10px;
        margin: 0 auto;     
    }

    .header-menu{
        margin-left: 30%;
        width: 50%;
    }

    .header-menu ul li a{
        color: #4F4F4F;
        margin-right: 50px;
        display: block;
        padding: 10px;
        font-size: 20px;
    }

    .header-menu li a:hover{
        background-color: rgb(226, 227, 238);
        border-radius: 10px;
        color: #08021f;
    }

    .container, .container3{
        max-width: 1200px;
        padding: 10px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 1 1 350px;
        justify-content: center;

    }
    .container-img{
        width: 45%;
        flex-wrap: wrap;
        /*min-width: 350px;*/
        display: flex;
    }
    .container-img img{
        width: 80%;
        display: flex;  
        align-items: center; 
        justify-content: center;
        border-radius: 30px;
        /*min-width: 350px;*/
        margin: 0 auto;
        
    }
    /*.img-direita img{
        width: 50%;
        display: flex;  
        align-items: center; 
        justify-content: center;
        border-radius: 30px;
        min-width: 350px;
        margin: 0 auto;
    }*/
    h1{
        display: flex;
    }
    
    .h1 h1{
        display: flex;
        margin: 45px;
        justify-content: center;
    }
    .container-p{
        width: 45%;
        text-align: center;
        align-items: center;
        padding: 20px;
        min-width: 350px;
            
    }
    .container-p1{
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 20px;
        min-width: 350px;            
    }

    .container-p1 p{
        text-align: left;
    }

    .container-p p{
        display: flex;
        width: 100%;
        text-align: left;
        align-items: center;
        justify-content: center;
    }

    .container2{
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .container3{
        max-width: 90%;
    }
    .container-direita-img{
        max-width: 1200px
    }
    .container-direita-img .img-direita{
        justify-content: center;
        display: flex;
        margin: 0 auto;
        padding-bottom: 50px;
    }


    footer{
    border-top: 1px solid rgb(86, 163, 250);
    bottom: 0;
    left: 0;
    height: 60px;
    position: fixed;
    width: 100%;
    background-image: url(./img/imgnprontas/nuvens.png);
    opacity: 0.75;
    display: flex;
    justify-content: space-around;
    }

    footer .footer-nav{
        display: flex;
        margin: 0 auto;
    }

    footer .footer-ul{
        margin: 0 auto;
    }

    footer .footer-link{
        width: 200px;
        padding: 5px;
        justify-content: center;
        display: flex;
        padding: 15px;
        margin: 10px;
        align-items: center;
        border-radius: 05px;
    }

    footer .footer-link a:hover{
        padding: 10px;
        border-radius: 10px 0;
        background-color: rgb(226, 227, 238, 0.6);
    }




}
