a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    
}

body{
    background-color: 	rgb(201, 199, 199);
    max-width: 100%;
    display: block;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4F4F4F;
}

header{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding: 30px;
    background-image: url(./img/guias/esquerda/cemiteryfantasy.jpg);
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    
    
}

.header-logo{
    display: flex;
    padding: 0px 0px 0px 20px;
    width: 50%;
}

.header-menu li a{
    color: #4F4F4F;
    margin-right: 30px;
    display: block;
    padding: 20px;
    background-color: rgb(250, 250, 246);
    border-radius: 10px;
}

.header-menu li a:hover{
    background-color: rgb(169, 171, 233);
    border-radius: 20px 0px;
    color: #e63b3b;
}


footer{
    border-top: 1px solid rgb(86, 163, 250);
    bottom: 0;
    left: 0;
    height: 60px;
    position: fixed;
    width: 100%;
    background-image: url(/img/guias/esquerda/cemiteryfantasy.jpg);
    display: flex;
    justify-content: space-around;
  }
  
  footer .footer-nav{
      display: flex;
      margin: 0 auto;
  }
  
  footer .footer-ul{
      margin: 0 auto;
  }
  
  footer .footer-link{
      width: 200px;
      padding: 10px;
      justify-content: center;
      display: flex;
      padding: 15px;
      margin: 10px;
      align-items: center;
      border-radius: 10px;
      background-color: rgba(140, 198, 236, 0.507)
  }

@media screen and (max-width: 720px) {
    ul li{
        font-size: small;
    }

    header{
        min-width: 90%;
        padding: 20px;
    }

    .header-logo{
        width: 100px;
        
    }

    ul li{
        padding-right: 15px;
    }
    .cont1{
        min-width: 90%;
        display: block;
        margin: 0 auto;
        padding: 5px;
    }

    .cont1-p{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .cab-guia{
        justify-content: center;
        padding-top: 20px;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }
    .cab-guia img{
        margin: 0 auto;
        display: flex;
        border-radius: 20px;
        width: 50%;
    }
    .cont1-pp{
        background-color: rgb(224, 221, 213);
        width: 90%;
        border-radius: 20px;
        margin: 0 auto;
        padding: 10px;
        border-style: solid;
    }

    .cont1-img{
        display: none;
    }
}

@media screen and (min-width: 720px) {
    
    .header-logo{
        width: 200px;
    }

    ul li{
        padding: 15px;
        color: #fff;
    }

    
    .cont1{
        width: 95%;
        margin: 0 auto;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    
    
    .cab-guia{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        padding-right: 50px;
        padding-left: 50px;
    }
    h2{
        font-size: 60px;
    }

    /*Nao estao na ordem no esquerda.html*/
    #linha1 h2, #linha2 h2, #linha3 h2, #linha4 h2, #linha5 h2{
        font-size: 50px;
    }
    .cab-guia img{
        width: 200px;
        padding: 7px;
        border-radius: 100%;
    }
    .cont1-pp{
        display:block;
        padding: 7px;
        background-color: rgb(250, 250, 246);
        border-style: groove;
        border-radius: 10px;
        border-style: solid;
    }

    .cont1-img{
        display: flex;
        padding: 5px;
    }
    .cont1-img img{
        border-radius: 7px;
        margin: 0 auto;
    }
    #div-last{
        margin-bottom: 70px;
    }
    }